<html>
    <head>
        <title>{% block título %}{% endblock %}</title>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </head>

<body>

    <nav class="navbar navbar-dark bg-primary justify-content-center">
        <ul class="nav ">
            <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Inicio</a>
            </li>
          {% if request.user.username %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="/logout">Cerrar Sesión</a>
                </li>
                <li class="nav-item text-white">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">{{request.user.username}}</a>
                </li>
           {% else %}                
                <li class="nav-item">
                    <a class="nav-link text-white" href="/login">Iniciar Sesión</a>
                </li>    
                <li class="nav-item">
                    <a class="nav-link text-white" href="/registro">Registrarse</a>
                </li>  
            {% endif %}
        </ul>     
      </nav>    

    <!-- {% if request.user.username %}
        <p>
            Bienvenido <b>{{request.user.username}}</b>
        </p>

        <a href="/logout">Cerrar sesión</a>
    {% else %}

        <a href="/login">Iniciar sesión</a>
    {% endif %}
    <hr /> -->

    {% block body %}{% endblock %}
</body>

</html>
